* {
    font-size: 1.2em;
}
body{
    background-color: blueviolet;
}
h1 {
    color: #ff0000;
    font-family: "Bahnschrift", Monospaced;
}
a{
    font-family: "Broadway", monospace;
}
img {
    padding: 1px;
    border: 0.3em solid #0bff00;
    background-color: #ff0;
}
figcaption{
    font-size: medium;
}
#header {
    color: #00FF00;
}

li {
    font-size: 0.7em;
}
